<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="default">
        <include
                resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <appender name="ES"
                  class="uw.logback.es.appender.ElasticsearchAppender">
            <endpoint>http://localhost:9200/appaname/logs</endpoint>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <encoder charset="UTF-8"
                     class="uw.logback.es.encoder.ElasticsearchEncoder">
                <appname>uw-auth-center2</appname>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="ES"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
