<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <property resource="application.yml" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProfile name="default">
        <include
                resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <appender name="ES"
                  class="uw.logback.es.appender.ElasticsearchAppender">
            <esHost>http://localhost:9200</esHost>
            <index>uw-auth-center2</index>
            <indexType>logs</indexType>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <throwableConverter
                    class="uw.logback.es.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>100</maxDepthPerThrowable>
                <maxLength>8096</maxLength>
                <shortenedClassNameLength>100</shortenedClassNameLength>
                <exclude>org\.springframwork\.*</exclude>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
            <maxBatchThreads>5</maxBatchThreads>
            <maxBytesOfBatch>1025</maxBytesOfBatch>
            <maxFlushInMilliseconds>1000</maxFlushInMilliseconds>
            <appname>uw-auth-center2</appname>
            <host>${host}</host>
        </appender>
        <root level="INFO">
            <appender-ref ref="ES"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
